.tw-followCard{
  min-width: 350px;
  max-width: 300px;
  margin:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tw-followCard-header{
  display: flex;
  align-items: center;
  gap: 4px;
  flex-direction: row;
}

.tw-followCard-header-img{
  width: 48px;
  height: 48px;
  border-radius: 1000px;
  
}

.tw-followCard-header div {
  display: flex;
  flex-direction: column;
}

.tw-followCard-header div strong {
  height: 20px;
  max-width: 150px;
  overflow: hidden;
}

.tw-followCard-header div span {
  opacity: 0.6;
}

.tw-followCard-button{
  
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  background-color: #fff;
  color: black;
  cursor: pointer;
  border: 1px solid #000;
  transition: .3s ease background-color;
}

.tw-followCard-textOne{
  display: block;
}

.tw-followCard-textTwo{
  display: none;
}

.tw-followCard-button:hover{
  background-color: rgb(215, 215, 234);
}

.tw-followCard-button.is-following{
  background-color: #222;
  border: 1px solid #fff;
  color: #fff;
  width: 140px;
}

.tw-followCard-button.is-following:hover{ 
  color: red;  
  border: 1px solid red;
  background-color: rgb(95, 52, 52);
}

.tw-followCard-button.is-following:hover .tw-followCard-textOne{ 
  display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-textTwo{ 
  display: block;
}

